version: 1
accounts:
- name: alice
  coins:
  - 20000token
  - 200000000stake
- name: bob
  coins:
  - 10000token
  - 100000000stake
faucet:
  name: bob
  coins:
  - 5token
  - 100000stake
validators:
- name: alice
  bonded: 100000000stake
  config:
    rpc:
      max_body_bytes: "10485760"
    mempool:
      max_txs_bytes: "5368709120"
      max_tx_bytes: "5242880"
